body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    flex: 1;
    overflow-y: auto;
    display: flex; /* Add flex to container */
    flex-wrap: wrap; /* Allow wrapping of items */
    justify-content: space-around; /* Evenly distribute space around items */


}

.content-row {
    display: flex;
    flex-direction: row; /* Changed to row to place video and description side by side */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%; /* Adjust width as needed, ensures two pairs per row */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */

}


.video-description-pair {
  display: flex;
  flex-direction: row; /* Ensures video and description are side-by-side */
    width: 100%; /* Occupy the full width of the parent */

}


.video-section {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}

.video-section video {
    width: 100%;
    height: auto;
}

.description-section {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

.description {
    white-space: pre-wrap;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}